<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Welcome To | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/src/assets/admin-office/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/src/assets/admin-office/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/src/assets/admin-office/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="/src/assets/admin-office/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/src/assets/admin-office/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/src/assets/admin-office/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-red">

<app-admin-office-navbar></app-admin-office-navbar>
<app-admin-office-sidebar></app-admin-office-sidebar>
<app-dashbord></app-dashbord>

<!-- Jquery Core Js -->
<script src="/src/assets/admin-office/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="/src/assets/admin-office/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="/src/assets/admin-office/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="/src/assets/admin-office/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="/src/assets/admin-office/plugins/node-waves/waves.js"></script>

<!-- Jquery CountTo Plugin Js -->
<script src="/src/assets/admin-office/plugins/jquery-countto/jquery.countTo.js"></script>

<!-- Morris Plugin Js -->
<script src="/src/assets/admin-office/plugins/raphael/raphael.min.js"></script>
<script src="/src/assets/admin-office/plugins/morrisjs/morris.js"></script>

<!-- ChartJs -->
<script src="/src/assets/admin-office/plugins/chartjs/Chart.bundle.js"></script>

<!-- Flot Charts Plugin Js -->
<script src="/src/assets/admin-office/plugins/flot-charts/jquery.flot.js"></script>
<script src="/src/assets/admin-office/plugins/flot-charts/jquery.flot.resize.js"></script>
<script src="/src/assets/admin-office/plugins/flot-charts/jquery.flot.pie.js"></script>
<script src="/src/assets/admin-office/plugins/flot-charts/jquery.flot.categories.js"></script>
<script src="/src/assets/admin-office/plugins/flot-charts/jquery.flot.time.js"></script>

<!-- Sparkline Chart Plugin Js -->
<script src="/src/assets/admin-office/plugins/jquery-sparkline/jquery.sparkline.js"></script>

<!-- Custom Js -->
<script src="/src/assets/admin-office/js/admin.js"></script>
<script src="/src/assets/admin-office/js/pages/index.js"></script>

<!-- Demo Js -->
<script src="/src/assets/admin-office/js/demo.js"></script>
</body>

</html>