


    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a routerLink="/home"><i class="fa fa-home"></i> Home</a>
                        <span>Panier</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <br>
            <section class="content">


            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>LIBELLE</th>
                                            <th>PRIX</th>
                                            <th>CATEGORIE</th>
                                            <th>DESCRIPTION</th>
                                            <th>ACTION</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let p of pannier">
                                            <td>{{p.libelle}}</td>
                                            <td>{{p.prix}}</td>
                                            <td>{{p.categorie}}</td>
                                            <td>{{p.description}}</td>
                                            <td><button class="btn btn-danger waves-effect" (click)="deleteFromPanier(p.id)">DELETE</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                           <br>
                            <div class="col-md-3">
                                <b>Quantité Totale : </b>
                                <span> {{quantiteTotal}} </span>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <b>Prix Total : </b>
                                <span> {{prixTotal}} </span>
                            </div>
                            <br>
                            <div class="col-md-3">
                                <b>Date Achat : </b>
                                <span> {{dateAchat}} </span>
                            </div>
                            <br>

                            <button style="margin-right:800px;" class=" btn btn-success waves-effect"  [disabled]="quantiteTotal < 1" (click)="addCommande()">ACHATER</button>
                            <button class="btn btn-dark waves-effect" routerLink="/mesCommandes">MES COMMANDES</button>

            </div>


            </section>
    </div>

    <br>
    </div>




