
<!-- Header Section Begin -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="ht-left">
                <div class="mail-service">
                    <i class=" fa fa-envelope"></i>
                    huntKingdom@gmail.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +216 00000000
                </div>
            </div>
            <div class="ht-right">
                <a routerLink="/login" class="login-panel"><i class="fa fa-user"></i>Login</a>
                <div class="lan-selector">
                    <select class="language_drop" name="countries" id="countries" style="width:300px;">
                        <option value='yt' data-image="assets/img/flag-1.jpg" data-imagecss="flag yt"
                                data-title="English">English</option>
                        <option value='yu' data-image="assets/img/flag-2.jpg" data-imagecss="flag yu"
                                data-title="Bangladesh">German </option>
                    </select>
                </div>
                <div class="top-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                    <a href="#"><i class="ti-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a routerLink="/home">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-lg-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">Find here</button>
                        <form action="#" class="input-group">
                            <input type="text"  placeholder="What do you need?" >
                            <button type="button"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li></li>
                        <li class="heart-icon">
                            <a routerLink="/favoris">
                                <i class="fa fa-heart-o heart fa-lg"></i>
                                <h6 class="favoris-text">Favoris</h6>
                            </a>
                        </li>
                        <li></li>
                        <li class="cart-icon">
                            <a routerLink="/panier">
                                <i class="fa fa-shopping-cart heart fa-lg"></i>
                                <h6 class="favoris-text">Panier</h6>
                            </a>

                        </li>

                    </ul>
                </div>

            </div>

        </div>

        </div>

    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All Places</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Woods</a></li>
                        <li><a href="#">On boat</a></li>
                        <li><a href="#">Underwear</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/shop">Shop</a></li>
                    <li><a href="#">Rental</a>
                        <ul class="dropdown">
                            <li><a href="#">Hunting</a></li>
                            <li><a href="#">Fishing</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/event">Events</a></li>

                    <li><a routerLink="/buysell">Buy/Sell</a>
                        <ul class="dropdown">
                            <li><a routerLink="/sell">Find Hunters</a></li>
                            <li><a routerLink="/buy">Make Deals</a></li>
                        </ul>
                    </li>
                    <li><a href="./contact.html">Experience</a>
                        <ul class="dropdown">
                            <li><a href="./blog-details.html">Find Places</a></li>
                            <li><a href="./shopping-cart.html">Share places</a></li>
                            <li><a href="./check-out.html">Share advices</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->
