
<!-- Header Section Begin -->
<header class="header-section">
    <div class="background">
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="assets/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-lg-7">
                    <div class="advanced-search">
                        <button type="button" class="category-btn">All Categories</button>
                        <form action="#" class="input-group">
                            <input type="text"  placeholder="What do you need?" >
                            <button type="button"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="advanced-search1">
                        <button type="button" class="category-btn"><i class="fa fa-user"></i>    Login</button>

                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>
    <div class="nav-item">
        <div class="container">
            <div class="nav-depart">
                <div class="depart-btn">
                    <i class="ti-menu"></i>
                    <span>All Places</span>
                    <ul class="depart-hover">
                        <li class="active"><a href="#">Woods</a></li>
                        <li><a href="#">On boat</a></li>
                        <li><a href="#">Underwear</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./shop.html">Shop</a></li>
                    <li><a href="#">Rental</a>
                        <ul class="dropdown">
                            <li><a href="#">Hunting</a></li>
                            <li><a href="#">Fishing</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">Events</a></li>
                    <li><a href="#">Buy/Sell</a>
                        <ul class="dropdown">
                            <li><a href="./blog-details.html">Buy</a></li>
                            <li><a href="./shopping-cart.html">Sell</a></li>
                            <li><a href="./check-out.html">Find Hunters</a></li>
                            <li><a href="./faq.html">Make Deals</a></li>
                        </ul>
                    </li>
                    <li><a href="./contact.html">Experience</a>
                        <ul class="dropdown">
                            <li><a href="./blog-details.html">Find Places</a></li>
                            <li><a href="./shopping-cart.html">Share places</a></li>
                            <li><a href="./check-out.html">Share advices</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
        </div>
    </div>
</header>
<!-- Header End -->
