
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a routerLink="/panier"><i class="fa fa-home"></i> Panier</a>
                    <span>Mes Commandes</span>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">


    <h2> Mes Commandes </h2>
        <br>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th>NUMERO COMMANDE</th>
        <th>QUANTITE TOTALE</th>
        <th>PRIX</th>
        <th>DATE ACHAT</th>
        <th>Nbr PRODUITS</th>
        <th>VALIDE</th>
        <th>DETAILS</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of commande">
        <td>{{p.numero_commande}}</td>
        <td>{{p.quantite_total}}</td>
        <td>{{p.prix_total}}</td>
        <td>{{p.date_achat}}</td>
        <td>{{p.products.length}}</td>
        <td *ngIf="p.is_valid == true; else elseBlock"><i class="fa fa-eye" aria-hidden="true"></i></td>
        <ng-template #elseBlock><td><i class="fa fa-eye-slash" aria-hidden="true"></i></td></ng-template>
        <td><a routerLink="/commandeDetails/{{p.id}}">details</a></td>
        <td><button class="btn btn-danger waves-effect" [disabled]="p.is_valid"  (click)="deleteCommande(p.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>

    </tr>
    </tbody>
</table>

    </div>
</div>