<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                <div class="blog-sidebar">
                  
                    <div class="blog-catagory">
                        <h4>Categories</h4>
                        <ul>
                             <li><a><button style="border:none;background-color: transparent" (click)="searchByCategorie('')">All</button></a></li>
                             <li><a><button style="border:none;background-color: transparent" (click)="searchByCategorie('Chasse au fusil')">Chasse au fusil</button></a></li>
                             <li><a><button style="border:none;background-color: transparent" (click)="searchByCategorie('Chasse sous marin')">Chasse sous marin</button></a></li>
                              <li><a><button style="border:none;background-color: transparent" (click)="searchByCategorie('Chasse au filet')">Chasse au filet</button></a></li>
                              <li><a><button style="border:none;background-color: transparent" (click)="searchByCategorie('Pêche à la canne')">Pêche à la canne</button></a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div *ngFor="let p of Threads | filter:topic">
                    <p-panel>
                        <p-header>
                            <div class="ui-helper-clearfix"  >
                                <a *ngIf="isConnected(); else elseblock" routerLink="/detailthread/{{p.id}}"><span class="ui-panel-title"
                                        style="font-size:16px;display:inline-block;margin-top:2px">{{p.title}}</span></a>
                                        <ng-template #elseblock>

                                            <span class="ui-panel-title"
                                                style="font-size:16px;display:inline-block;margin-top:2px">{{p.title}}</span>
                                        </ng-template>
                                <p-splitButton [style]="{'float':'right'}" label="Save" icon="pi pi-check"
                                    (onClick)="save()" [model]="items"></p-splitButton>
                            </div>
                        </p-header>
                        <p>{{p.description}}</p>
                        <p-footer>
                            <p><span style="color:rgb(190, 144, 58);">{{p.topic}}</span> -<span> {{p.creationdate}} -
                                </span>
                                <span class="text-success">{{p.upvote}} </span>&nbsp;<img
                                    src="assets/img/thread/like.png" alt="image" /> &nbsp;
                                <span class="text-danger">{{p.downvote}} </span>&nbsp;<img
                                    src="assets/img/thread/dislike.png" alt="image" />

                            </p>
                        </p-footer>
                    </p-panel>
                    <hr>
                </div>



            </div>

        </div>
    </div>
</section>