<!--
<div class="body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>type</th>
                <th>adresse</th>
                <th>latitude</th>
                <th>langitude</th>
                <th>dateDebut</th>
                <th>dateFin</th>
                <th>nbrParticipent</th>
                <th>placeDispo</th>
                <th>categorie</th>

                
            </tr>
            </thead>
            <tbody >
            <tr *ngFor="let p of events">
                <td>{{p.id}}</td>
                <td>{{p.nom}}</td>
                <td>{{p.type}}</td>
                <td>{{p.adresse}}</td>
                <td>{{p.latitude}}</td>
                <td>{{p.langitude}}</td>
                <td>{{p.date_debut}}</td>
                <td>{{p.date_fin}}</td>
                <td>{{p.nbr_participent}}</td>
                <td>{{p.place_dispo}}</td>
                <td>{{p.categorie?.nom}}</td>

               
            </tr>
            </tbody>
        </table>
    </div>
    -->
    
    <!--

      <div class="col-md-4"  *ngFor="let p of events">
        <div class="card" style="width: 18rem;">
          <div class="card-body" >
            
      <div class="row">
            <h5 class="card-title">{{p.nom}}</h5>
            <p class="card-text"> {{p.id}}-- {{p.place_dispo}} dt</p>
      </div>
            
          </div>
        </div>
      </div>
-->
      



<div><img class="parallax-slider" src="assets/event-Image/events.jpg" style="position: absolute; height: 450px; width: 1519.2px; max-width: none;"></div>

<div class="super_container">
    
    
    <!-- Home -->

    <div class="home">

        

        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content d-flex flex-row align-items-end justify-content-start">
                            
                            <div class="current_page">You can now Book Your Event</div>
                            <div class="breadcrumbs ml-auto">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>Events</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Events -->

    <div class="events" *ngFor="let p of events">
        
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <div class="event">
                        <div class="row row-lg-eq-height">
                            <div class="col-lg-6 event_col">
                                <div class="event_image_container">
                                    <div class="background_image" style="background-image:url(images/event_9.jpg)"></div>
                                    <div class="date_container">
                                        <a href="#">
                                            <span class="date_content d-flex flex-column align-items-center justify-content-center">
                                                <div class="date_day">{{p.date_debut | date : 'dd'}} </div>
                                                <div class="date_month">{{p.date_fin | date : 'LLLL'}}</div>
                                            </span>
                                          

                                        </a>    
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 event_col">
                                <div class="event_content">
                                    <div class="event_title"><b style="color: #fd7e14;">Event :</b>  {{p.nom}}</div>
                                    <div class="event_title"> <b style="color: #fd7e14;">Type :</b> {{p.type}}</div>
                                    <div class="event_title"><b style="color: #fd7e14;">Adress :</b>  {{p.adresse}}</div>

                                    <div class="event_title"><b style="color: #fd7e14;">Number of Participants :</b> {{p.nbr_participent}}</div>
                                    <div class="event_title"><b style="color: #fd7e14;">Available Place :</b> {{p.place_dispo}}</div>
                                    <div class="event_title"><b style="color: #fd7e14;">Category Name :</b>{{p.categorie?.nom}}</div>
                                    <div class="event_text" > <b style="color: #fd7e14;">Description : </b>{{p.description }}
                                    </div>
                                    
                                    <div class="event_buttons">
                                        <div button type="button" class="btn btn-outline-success"  ><a> Book Now!</a> </div>
                                        <div button type="button" class="btn btn-outline-warning" >Find The Event Place</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>  
            
        </div>
    </div>
   
    </div>
</div>



