<!--
<form #f="ngForm">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" name="Title" [(ngModel)]="user.nom" required #t="ngModel">
    <br>
    <div class="alert alert-danger" *ngIf="t.invalid">
      Name is required
    </div>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" name="description"
           [(ngModel)]="user.prenom" required minlength="5" #d="ngModel">
    <br>

    <div class="form-group">
      <label> Quantite</label>
      <input type="number" class="form-control" name="quantite"
             [(ngModel)]="product.qt" required #qt="ngModel">
      <br>
      <div class="alert alert-danger" *ngIf="qt.invalid">
        quantity is required
      </div>

    </div>


    <br>
    <div class="form-group">
      <label> price: </label>
      <input type="texte" class="form-control" name="price"
             [(ngModel)]="product.price" required #p="ngModel">
      <div class="alert alert-danger" *ngIf="p.invalid">
        price is required
      </div>
      <div class="alert alert-danger" *ngIf="p.value <0">
        price >0
      </div>

    </div>
    <br>
  </div>

  <button class="btn btn-success" [disabled]="f.invalid || p.value <0 || qt.value <0 " (click)="addProduct()"> add
    Product
  </button>

</form>
-->

<div class="events" *ngFor="let p of events">
        
  <div class="container">
      <div class="row">
          <div class="col">
              
              <div class="event">
                  <div class="row row-lg-eq-height">
                      <div class="col-lg-6 event_col">
                          <div class="event_image_container">
                              <div class="background_image" style="background-image:url(images/event_9.jpg)"></div>
                              <div class="date_container">
                                  <a href="#">
                                      <span class="date_content d-flex flex-column align-items-center justify-content-center">
                                          <div class="date_day">{{p.date_debut | date : 'dd'}} </div>
                                          <div class="date_month">{{p.date_fin | date : 'LLLL'}}</div>
                                      </span>
                                    

                                  </a>    
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-6 event_col">
                          <div class="event_content">
                              <div class="event_title"><b style="color: #fd7e14;">Event :</b>  {{p.nom}}</div>
                              <div class="event_title"> <b style="color: #fd7e14;">Type :</b> {{p.type}}</div>
                              <div class="event_title"><b style="color: #fd7e14;">Adress :</b>  {{p.adresse}}</div>

                              <div class="event_title"><b style="color: #fd7e14;">Number of Participants :</b> {{p.nbr_participent}}</div>
                              <div class="event_title"><b style="color: #fd7e14;">Available Place :</b> {{p.place_dispo}}</div>
                              <div class="event_title"><b style="color: #fd7e14;">Category Name :</b>{{p.categorie?.nom}}</div>
                              <div class="event_text" > <b style="color: #fd7e14;">Description : </b>{{p.description }}
                              </div>
                              
                              <div class="event_buttons">
                                  <div button type="button" class="btn btn-outline-success"  >Book Now!</div>
                                  <div button type="button" class="btn btn-outline-warning" >Find The Event Place</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>  
      
  </div>
</div>