

<div class="container">

    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a routerLink="/home"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <section class="product-shop spad">
        <div class="container">
            <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
        <div class="filter-widget">
            <h4 class="fw-title">Categories</h4>
            <ul class="filter-catagories">
                <li><a routerLink="/shop">All</a></li>
                <li><a href="#">Hunting</a></li>
                <li><a href="#">Fishing</a></li>
            </ul>
        </div>

        <div class="filter-widget">
            <h4 class="fw-title">Price</h4>s
            <div class="filter-range-wrap">
                <div class="range-slider">
                    <div class="price-input">
                        <input type="text" id="minamount">
                        <input type="text" id="maxamount">
                    </div>
                </div>
                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                     data-min="33" data-max="98">
                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
            </div>
            <a href="#" class="filter-btn">Filter</a>
        </div>
        <div class="filter-widget">
            <h4 class="fw-title">Tags</h4>
            <div class="fw-tags">
                <a >Tag 1</a>
                <a >Tag 2</a>
                <a >Tag 3</a>
            </div>
        </div>
    </div>
    <div class="col-lg-9 order-1 order-lg-2">
        <div class="product-show-option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="select-option">
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 text-right">
                    <p>Show 01- 09 Of 36 Product</p>
                </div>
            </div>
        </div>
        <div class="product-list">
        <br>
        <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor="let p of Produits">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="{{p.image}}" alt="">
                        <div class="sale pp-sale"> <button class="btn waves-effect" [disabled]="ajouterPannierDisabled(p)" (click)="ajouterPannier(p)"><i class="fa fa-shopping-cart heart fa-md"></i></button></div>
                        <div class="icon">
                            <button class="btn waves-effect" (click)="addFavrois(p)"><i class="icon_heart_alt"></i></button>
                        </div>
                        <ul>
                            <li class="quick-view"><a>{{p.description}}</a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">{{p.categorie}}</div>
                        <a href="#">
                            <h5>{{p.libelle}}</h5>
                        </a>
                        <div class="product-price">{{p.prix}} TND</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
            </div>
        </div>
    </section>

</div>