<div class="container">

    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a routerLink="/home"><i class="fa fa-home"></i> Home</a>
                        <span>Favoris</span>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="product-list">
        <br>

        <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor="let p of products">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="{{p.image}}" alt="">
                        <div class="sale pp-sale"> <button class="btn waves-effect" [disabled]="ajouterPannierDisabled(p)" (click)="ajouterPannier(p)"><i class="fa fa-shopping-cart heart fa-md"></i></button></div>
                        <div class="icon">
                            <button class="btn waves-effect" (click)="deleteFavoris(p.id)"> <i class="fa fa-trash-o"></i></button>
                        </div>
                        <ul>
                            <li class="quick-view"><a>{{p.description}}</a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">{{p.categorie}}</div>
                        <a href="#">
                            <h5>{{p.libelle}}</h5>
                        </a>
                        <div class="product-price">{{p.prix}} TND</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
