<!--
<form #f="ngForm">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" name="Title" [(ngModel)]="book.nom" required #t="ngModel">
    <br>
    <div class="alert alert-danger" *ngIf="t.invalid">
      Name is required
    </div>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" name="description"
           [(ngModel)]="book.prenom" required minlength="5" #d="ngModel">
    <br>

    <div class="form-group">
      <label> Quantite</label>
      <input type="number" class="form-control" name="quantite"
             [(ngModel)]="product.qt" required #qt="ngModel">
      <br>
      <div class="alert alert-danger" *ngIf="qt.invalid">
        quantity is required
      </div>

    </div>


    <br>
    <div class="form-group">
      <label> price: </label>
      <input type="texte" class="form-control" name="price"
             [(ngModel)]="product.price" required #p="ngModel">
      <div class="alert alert-danger" *ngIf="event.invalid">
        price is required
      </div>
      <div class="alert alert-danger" *ngIf="event.value <0">
        price >0
      </div>

    </div>
    <br>
  </div>

  <button class="btn btn-success" [disabled]="f.invalid || event.value <0 || qt.value <0 " (click)="addProduct()"> add
    Product
  </button>

</form>
-->

<div><img class="parallax-slider" src="assets/event-Image/events.jpg" style="position: absolute; height: 450px; width: 1519.2px; max-width: none;"></div>
<div class="super_container">
    
    
    <!-- Home -->

    <div class="home">

        

        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content d-flex flex-row align-items-end justify-content-start">
                            
                            <div class="current_page">Book Your Event in a simple Click</div>
                            <div class="breadcrumbs ml-auto">
                                <ul>
                                    <li><a href="/event">Events</a></li>
                                    <li>Booking</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Events -->

    <div class="events" >
        
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <div class="event">
                        <div class="row row-lg-eq-height">
                            <div class="col-lg-6 event_col">
                                <div class="event_image_container">
                                    <div class="background_image" style="background-image:url(images/event_9.jpg)"></div>
                                    <div class="date_container">
                                        <a href="#">
                                            <span class="date_content d-flex flex-column align-items-center justify-content-center">
                                                <div class="date_day">{{event.date_debut | date : 'dd'}} </div>
                                                <div class="date_month">{{event.date_fin | date : 'LLLL'}}</div>
                                            </span>
                                          

                                        </a>    
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 event_col">
                                <div class="event_content">
                                    <div class="event_title"><b style="color: #fd7e14;">Event :</b>  {{event.nom}}</div>
                                    <div class="event_title"> <b style="color: #fd7e14;">Type :</b> {{event.type}}</div>
                                    <div class="event_title"><b style="color: #fd7e14;">Adress :</b>  {{event.adresse}}</div>

                                    <div class="event_title"><b style="color: #fd7e14;">Number of Participants :</b> {{event.nbr_participent}}</div>
                                    <div class="event_title"><b style="color: #fd7e14;">Available Place :</b> {{event.place_dispo}}</div>
                                    <div class="event_title"><b style="color: #fd7e14;">Category Name :</b>{{event.categorie?.nom}}</div>
                                    <div class="event_text" > <b style="color: #fd7e14;">Description : </b>{{event.description }}
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <form #f="ngForm">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" class="form-control" name="nom" [(ngModel)]="reservationetDetails.nom" required #n="ngModel">
                          <br>
                          <div class="alert alert-danger" *ngIf="n.invalid">
                            Name is required
                          </div>
                        </div>
                      
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" class="form-control" name="prenom"
                                 [(ngModel)]="reservationetDetails.prenom" required  #d="ngModel">
                          <br>
                          <div  class="alert alert-danger" *ngIf="d.invalid"> Name is required </div>
                          <br>
                          <div class="form-group">
                            <label> Email  </label>
                            <input type="email" class="form-control" name="email"
                                   [(ngModel)]="reservationetDetails.email" required #e="ngModel"  >
                            <div class="alert alert-danger"  *ngIf="e.invalid">
                              Email is required
                            </div>
                            
                      
                          </div>
                          <br>

                        </div>
                      
                        <div class="form-group">
                            <label>Phone number</label>
                            <input type="tel" class="form-control" name="telf"
                              [(ngModel)]="reservationetDetails.telephone" required minlength="8" #f="ngModel">
                              <div  class="alert alert-danger" *ngIf="f.invalid"> phone number is required </div>
                              
                        </div>

                        
                        <button class="btn btn-success" (click)="addReservation()" >Book </button>
                      
                      </form>

                </div>  
            
        </div>
    </div>
   
    </div>
</div>